<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
        <!-- <input type="text" name="message" id=""> -->
        <textarea name="message" rows="45" cols="90" name="message" placeholder="Message"></textarea> 
        <button type="submit">Sentimental analysis </button>
        <button type="button">#need to be filled#</button>
        <button type="button">#need to be filled#</button>
    </form>

    <h2>{{message}}</h2>
</body>
</html>